@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Light.woff2") format("woff2");
}

:root {
    --bg: #000;
    --text: #fff;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: iranyekan;
}