@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Light.woff2") format("woff2");
}

@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-DemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Bold.woff2") format("woff2");
}

:root {
    --bg: #000;
    --text: #fff;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: iranyekan;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 150px;
    height: 250px;
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid #fff;
    overflow: hidden;
}

.product-image {
    background-color: #26272B;
    padding: 10px;
}

.image {
    display: block;
    /* width: 100%; */
    width: 130px;
    border-radius: 10px;
}

.product-title {
    padding: 0 10px 0 10px;
    font-size: 12px;
    font-weight: 400;
}

.product-prices {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 10px;
}

.price-new {
    color: #38BDF8;
    display: flex;
    align-items: center;
    gap: 5px;
}

.toman {
    font-size: 9px;
}